.header-toggle-link {
    cursor: pointer;
}

.food-chart {
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.api-req-button {
    cursor: pointer;
}

.foodbrowser-bootstrap-table-wrapper {
    padding-bottom: 100px;
}
